<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avada Fitness</title>

    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="dist/app.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <!-- VueJs app container -->
    <div id="root">

        <!-- HEADER -->

        <header>

            <!-- Header Wrapper -->
            <div class="header-content wrapper">

                <!-- Logo -->
                <div class="logo">
                    <a href="#">
                        <img src="img/logo.png" alt="Logo">
                    </a>
                </div>

                <!-- NavBar -->
                <nav class="header-menu">
                    <ul>
                        <li v-for="link in header_menu">
                            <a href="#">{{link}}</a>
                            <span v-if="link == newMenuElement" class="header-new">new</span>
                        </li>

                        <!-- Header Buttons -->
                        <li>
                            <button>
                                Schedule a workout
                            </button>
                        </li>

                        <!-- Header Icons -->
                        <li v-for="(icon, index) in header_icons">
                            <a href="#">
                                <i class="fas" :class="'fa-' + icon"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>

        <!-- END HEADER -->

        <!-- MAIN -->

        <main>

            <!-- Jumbotron -->

            <section class="jumbotron">


                <div class="jumbo-content wrapper">

                    <!-- Jumbotron Left Part -->

                    <div class="jumbo-left">

                        <!-- Jumbotron Title -->
                        <div class="title">
                            <h4>Certified fitness professionals</h4>
                            <h1>Take control of your health</h1>
                            <span class="yellow-separator">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </span>
                            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus dolor sit amet.</p>
                        </div>


                        <!-- Buttons -->
                        <div class="jumbo-buttons">

                            <!-- YouTube Button -->
                            <button class="youtube-btn">
                                <i class="fab fa-youtube"></i>
                                Visit my YouTube channel
                            </button>

                            <!-- Buy Today -->
                            <button class="buy-btn">
                                Buy Avada today
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Jumbotron Right Part -->

                    <div class="jumbo-right">
                        <div class="play-circle">
                            <i class="fas fa-play"></i>
                        </div>
                    </div>
                        
                </div>
            </section>

            <!-- Brad Johnson Section -->

            <section class="bj-section">

                <div class="bj-content wrapper">

                    <!-- Section First Row -->
                    <div class="bj-first-row">

                        <!-- Crossfit workout -->
                        <div class="bj-img workout-img">
                            <div class="bj-text">
                                <span class="white-separator">
                                    <i class="fas fa-chevron-up"></i>
                                    <i class="fas fa-chevron-up"></i>
                                    <i class="fas fa-chevron-up"></i>
                                </span>
                                <h3>Crossfit workout</h3>
                                <h4>Push your limits</h4>
                            </div>
                        </div>

                        <!-- New gym apparel -->
                        <div class="bj-img gym-apparel-img">
                            <div class="bj-text">
                                <span class="white-separator">
                                    <i class="fas fa-chevron-up"></i>
                                    <i class="fas fa-chevron-up"></i>
                                    <i class="fas fa-chevron-up"></i>
                                </span>
                                <h3>New gym apparel</h3>
                                <h4>Look good, feel good</h4>
                            </div>
                        </div>

                        <!-- Team training -->
                        <div class="bj-img team-training-img">
                            <div class="bj-text">
                                <span class="white-separator">
                                    <i class="fas fa-chevron-up"></i>
                                    <i class="fas fa-chevron-up"></i>
                                    <i class="fas fa-chevron-up"></i>
                                </span>
                                <h3>Team training</h3>
                                <h4>Find a partner</h4>
                            </div>
                        </div>

                    </div>

                    <!-- Section Second Row -->
                    <div class="bj-second-row">
                        <div class="bj-banner">
                            <h2>
                                "How you respond to the challenge in the second half <br> 
                                will determine what you become after the game, <br>
                                 whether you are a winner or a loser."
                            </h2>
                            <span class="yellow-separator">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </span>

                            <div class="bj-avatar">
                                <img src="img/avatar-1-2x.jpg" alt="BradJohnson">
                                <span class="bj-name">Brad Johnson</span>
                                <span class="bj-lasvegas">Las Vegas</span>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

            <!-- YouTube Section -->

            <section class="youtube-section">

                <!-- YouTube Section First Row -->
                <div class="yt-first-row">

                    <!-- YouTube First Row IMG -->
                    <div class="yt-big-img">
                        <div class="play-circle">
                            <i class="fas fa-play"></i>
                        </div>
                    </div>

                    <!-- YouTube First Row TXT -->
                    <div class="yt-txt">
                        <a href="#">Tune up your workouts</a>
                        <h2>The best health & fitness advice online</h2>

                        <!-- YouTube small Box -->
                        <div class="theme-fusion">
                            <img src="img/unnamed.jpg" alt="Logo">
                            <div class="theme-fusion-txt">
                                <p>ThemeFusion</p>
                                <div class="yt-views">
                                    <div class="yt-btn">
                                        <span class="yt-name"><i class="fab fa-youtube"></i>YouTube</span>
                                        <span class="yt-views">999+</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    
                        <p class="yt-paragraph">Arcu eu facilisi ut quisque placerat nunc habitant. Magna semper mauris, venenatis, leo integer sit pellentesque.</p>

                        <!-- Red Button -->
                        <button class="red-btn">
                            <i class="fab fa-youtube"></i>
                            <span>Visit my YouTube channel</span>
                        </button>
                        
                    </div>
                </div>

                <!-- YouTube Section Second Row -->
                <div class="wrapper">
                    
                    <div class="yt-second-row">

                        <!-- PlayList Title -->
                        <div class="playlist-title">
                            <h5>Featured playlists</h5>

                            <a href="#">
                                <h6>View all videos <i class="fas fa-chevron-right"></i></h6>
                            </a>
                        </div>

                        <!-- YouTube Playlist -->
                        <div class="yt-playlist">

                            <!-- Thighs and glute -->
                            <div class="plylist-video">
                                <div class="playlist-img thighs">
                                    <div class="play-circle">
                                        <i class="fas fa-play"></i>
                                    </div>
                                </div>

                                <div class="video-title">
                                    <h5>Thighs & glute workout</h5>
                                    <a href="#">Increase your mobility</a>
                                </div>
                            </div>
                            

                            <!-- Lift, firm, perk up -->
                            <div class="plylist-video">
                                <div class="playlist-img lift">
                                    <div class="play-circle">
                                        <i class="fas fa-play"></i>
                                    </div>
                                </div>

                                <div class="video-title">
                                    <h5>Lift, firm & perk up</h5>
                                    <a href="#">Feel young again</a>
                                </div>
                            </div>

                            <!-- Slim waist -->
                            <div class="plylist-video">
                                <div class="playlist-img waist">
                                    <div class="play-circle">
                                        <i class="fas fa-play"></i>
                                    </div>
                                </div>

                                <div class="video-title">
                                    <h5>Slim & trim your waist</h5>
                                    <a href="#">Shed those extra pounds</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>

            <!-- Mailing List Section -->

            <section class="mailing-list-section">

                <div class="wrapper">

                    <div class="mailing-list-content">

                        <div class="form">

                            <h4>Join our mailing list today</h4>
                            <h2>Insider offers & flash sales in your inbox every week</h2>
                            <span class="yellow-separator">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </span>
                            <div class="insert-email">
                                <input type="email" name="email" id="email" placeholder="Insert your email...*">
                                <button>
                                    Subscribe
                                </button>
                            </div>

                            <p>Curabitor non nulla sit amet nisl tempus convallis quis ac lectus dolor sit amet,
                                consectetur adispiscing elit sed porttitor lectus.
                            </p>
                            
                        </div>

                        <!-- Empty right part to make flex working -->
                        <div class="right-part"></div>
                    </div>
                </div>
            </section>

            <!-- Cards Section -->

            <section class="cards">
                <div class="wrapper">

                    <!-- Cards Row -->
                    <div class="cards-row">

                        <!-- Team training -->
                        <div class="single-card">
                            <img src="img/watch.png" alt="">
                            <h4>Team training</h4>
                            <h5>Find a partner</h5>
                            <p>
                                Vestibulum, curabitur eu sem nibh <br> ultrices sit nulla adipisicing.
                                Nisl sit fames amet senectus eget sed duis vehicula. <br> Tristique.
                            </p>
                            <a href="#">Find a partner<i class="fas fa-chevron-right"></i></a>
                        </div>

                        <!-- Crossfit workout -->
                        <div class="single-card">
                            <img src="img/stick.png" alt="">
                            <h4>Crossfit workout</h4>
                            <h5>Push your limits</h5>
                            <p>
                                Vestibulum, curabitur eu sem nibh <br> ultrices sit nulla adipisicing.
                                Nisl sit fames amet senectus eget sed duis vehicula. <br> Tristique.
                            </p>
                            <a href="#">Learn about Crossfit<i class="fas fa-chevron-right"></i></a>
                        </div>

                        <!-- Weight loss plan -->
                        <div class="single-card">
                            <img src="img/weight.png" alt="">
                            <h4>Weight loss plan</h4>
                            <h5>Shed those pounds</h5>
                            <p>
                                At laoreet senectus voluptat diam vel sed sed amet pellentesque. Lobortis
                                ut aliquam risus purus. At tellus ut etiam.
                            </p>
                            <a href="#">Find a partner<i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Latest Articles Section -->

            <section class="latest-articles">
                <div class="wrapper">

                    <div class="articles-title">

                        <h5>Latest articles</h5>

                        <a href="#">
                            <h6>Read all articles<i class="fas fa-chevron-right"></i></h6>
                        </a>
                    </div>

                    <div class="articles">

                        <!-- Protein shake -->
                        <div class="product">
                            <div class="single-article shake"></div>
                            <div class="single-art-title">
                                <h4>The best protein shake</h4>
                                <p>By admin | November 26th, 2019 | Gym</p>
                            </div>
                        </div>
                        

                        <!-- Cardio workout -->
                        <div class="product">
                            <div class="single-article cardio"></div>
                            <div class="single-art-title">
                                <h4>Ultimate cardio workout</h4>
                                <p>By admin | November 26th, 2019 | Gym</p>
                            </div>
                        </div>

                        <!-- Juices -->
                        <div class="product">
                            <div class="single-article juices"></div>
                            <div class="single-art-title">
                                <h4>New juices available now</h4>
                                <p>By admin | November 26th, 2019 | Gym</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Advice Section -->

            <section class="advice-section">

                <div class="wrapper">
                     
                    <div class="advice-txt">

                        <!-- Advice big text -->
                        <h2>
                            "I've failed over and over again in my <br> life. And that is why i succeded."
                        </h2>

                        <!-- Yellow Separator -->
                        <span class="yellow-separator">
                            <i class="fas fa-chevron-up"></i>
                            <i class="fas fa-chevron-up"></i>
                            <i class="fas fa-chevron-up"></i>
                        </span>

                        <!-- Advice paragraph -->
                        <p>
                            Arcu auctor gravida nisl, congue sit nisi tincidunt eget proin.
                            In lacinia lacus donec sed massa <br> in ipsum eros, tristique.
                            Gravida suspendisse etiam in iaculis
                        </p>

                        <!-- Buy Avada Button -->
                        <button>
                            Buy Avada today <i class="fas fa-chevron-right"></i>
                        </button>

                    </div>
                </div>
            </section>

            <!-- Clubs Section -->

            <section class="clubs-section">

                <div class="wrapper">

                    <!-- Clubs Row (Flex) -->
                    <div class="clubs-row">

                        <!-- Yoga Studio -->
                        <div class="single-club">

                            <!-- Club IMG -->
                            <img src="img/sponsor-1-2x.png" alt="Yoga">

                            <!-- Blue Separator -->
                            <span class="blue-separator">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </span>

                            <!-- Description -->
                            <p>
                                Tristique aliquam in nullam habitasse <br> nunc, amet vel consectetur.
                                Nulla in <br> suspendisse dolor, aliquet.
                            </p>

                            <!-- Link -->
                            <a href="#">
                                Visit Yoga Studio <i class="fas fa-chevron-right"></i> 
                            </a>
                        </div>

                        <!-- Fitness Center -->
                        <div class="single-club">
                            
                            <!-- Club IMG -->
                            <img src="img/sponsor-2-2x.png" alt="Yoga">

                            <!-- Blue Separator -->
                            <span class="blue-separator">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </span>

                            <!-- Description -->
                            <p>
                                Feugiat etiam dui mauris pharetra <br> mauris sed pharetra.
                                Convallis sapien <br> ornare cras faucibus nulla porta dui a.
                            </p>

                            <!-- Link -->
                            <a href="#">
                                Join Fitness Center <i class="fas fa-chevron-right"></i> 
                            </a>
                        </div>

                        <!-- Fitness Club -->
                        <div class="single-club">
                            
                            <!-- Club IMG -->
                            <img src="img/sponsor-3-2x.png" alt="Yoga">

                            <!-- Blue Separator -->
                            <span class="blue-separator">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </span>

                            <!-- Description -->
                            <p>
                                Nisl at quam adipiscing montes, nec, <br> adipiscing commodo
                                aliquam tincidunt. <br> Ligula in habitant et sagittis impediret.
                            </p>

                            <!-- Link -->
                            <a href="#">
                                Learn about FC <i class="fas fa-chevron-right"></i> 
                            </a>
                        </div>

                        <!-- Power Gym -->
                        <div class="single-club">
                            
                            <!-- Club IMG -->
                            <img src="img/sponsor-4-2x.png" alt="Yoga">

                            <!-- Blue Separator -->
                            <span class="blue-separator">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </span>

                            <!-- Description -->
                            <p>
                                Proin in viverra maecenas et mattis ut <br> nibh enim. Gravida 
                                ultricies mi porta <br> lacus. Et posuere velit sed nec eleifend.
                            </p>

                            <!-- Link -->
                            <a href="#">
                                Visit Power Gym <i class="fas fa-chevron-right"></i> 
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Workout Section -->

            <section class="workout-section">

                <div class="workout-content wrapper">

                    <!-- Play Circle -->
                    <div class="play-circle">
                        <i class="fas fa-play"></i>
                    </div>

                    <!-- Workout Title -->
                    <h2>Crossfit workout of the day</h2>

                    <!-- Date SubTitle -->
                    <h3>November 15th, 2019</h3>

                    <!-- Videos Link -->
                    <a href="#">View all videos <i class="fas fa-long-arrow-alt-right"></i></a>
                </div>
              
            </section>

        </main>

        <!-- END MAIN -->

        <!-- FOOTER -->

        <footer>

            <!-- Footer Main Content -->
            <div class="footer-content wrapper">

                <!-- Footer Logo -->
                <div class="footer-logo footer-box">

                    <!-- Footer Logo Img -->
                    <img src="img/logo.png" alt="Logo">

                    <!-- Footer Logo Txt -->
                    <p>
                        Ac aliquam neque sagittis diam faucibus vitae <br>
                        purus turbis phasellus. Pallentesque consectetur <br>
                        amet purus ultrices mauris.
                    </p>

                    <!-- Social Icons -->
                    <div class="footer-social-icons">

                        <!-- Facebook -->
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <!-- Twitter -->
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <!-- YouTube -->
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>

                        <!-- Instagram -->
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <!-- LinkedIn -->
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        
                    </div>
                </div>

                <!-- Recent Posts -->
                <div class="recent-posts footer-box">

                    <ul>
                        <!-- List Title -->
                        <li class="footer-list-title">
                            Recent Posts
                        </li>

                        <!-- List Element -->
                        <li v-for="post in recentPosts">
                            <a href="#">
                                <i class="fas fa-chevron-right"></i> {{ post }}
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Contact Informations -->
                <div class="contact-infos footer-box">

                    <ul>
                        <!-- List Title -->
                        <li class="footer-list-title">
                            Contact Informations
                        </li>

                        <!-- Address-->
                        <li class="address">
                            {{ contactInfos.address }}
                        </li>

                        <!-- Mobile Number - Email -->
                        <li class="mobile-email">
                            Mobile:{{ contactInfos.mobileNumber }} <br>
                            Email:{{ contactInfos.email }}
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Footer Copyright -->
            <div class="footer-copyright">

            </div>
        </footer>
    </div>
    

    <!-- JavaScript -->

    <script type="text/javascript" src="dist/app.js"></script>
</body>
</html>