<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avada Fitness</title>

    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="dist/app.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <!-- VueJs app container -->
    <div id="root">

        <!-- HEADER -->

        <header>

            <!-- Header Wrapper -->
            <div class="header-content wrapper">

                <!-- Logo -->
                <div class="logo">
                    <a href="#">
                        <img src="img/logo.png" alt="Logo">
                    </a>
                </div>

                <!-- NavBar -->
                <nav class="header-menu">
                    <ul>
                        <li v-for="link in header_menu">
                            <a href="#">{{link}}</a>
                            <span v-if="link == 'Store'" class="header-new">new</span>
                        </li>

                        <!-- Header Buttons -->
                        <li>
                            <button>
                                Schedule a workout
                            </button>
                        </li>

                        <!-- Header Icons -->
                        <li v-for="(icon, index) in header_icons">
                            <a href="#">
                                <i class="fas" :class="'fa-' + icon"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </header>

        <!-- END HEADER -->

        <!-- MAIN -->

        <main>

            <!-- Jumbotron -->

            <section class="jumbotron">


                <div class="jumbo-content wrapper">

                    <!-- Jumbotron Left Part -->

                    <div class="jumbo-left">

                        <!-- Jumbotron Title -->
                        <div class="title">
                            <h4>Certified fitness professionals</h4>
                            <h1>Take control of your health</h1>
                            <span class="yellow-separator">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </span>
                            <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus dolor sit amet.</p>
                        </div>


                        <!-- Buttons -->
                        <div class="jumbo-buttons">

                            <!-- YouTube Button -->
                            <button class="youtube-btn">
                                <i class="fab fa-youtube"></i>
                                Visit my YouTube channel
                            </button>

                            <!-- Buy Today -->
                            <button class="buy-btn">
                                Buy Avada today
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>

                    <!-- Jumbotron Right Part -->

                    <div class="jumbo-right">
                        <div class="play-circle">
                            <i class="fas fa-play"></i>
                        </div>
                    </div>
                        
                </div>
            </section>
        </main>
    </div>
    

    <!-- JavaScript -->

    <script type="text/javascript" src="dist/app.js"></script>
</body>
</html>