// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Wrapper
.wrapper {
    width: 80%;
    margin: auto;
}

// Separator
.yellow-separator {
    color: #dbd738;
    letter-spacing: -3px;
    font-weight: lighter;
    font-size: 18px;
}

.white-separator {
    color: white;
    letter-spacing: -3px;
    font-weight: lighter;
}

// Play Circle
.play-circle {
    padding: 25px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;

    i {
        vertical-align: middle;
        color: #4154ff;
    }
}