// BRAD JOHNSON SECTION

// Section BG Gradient
.bj-section {
    padding-bottom: 100px;
    // TEST
    background: linear-gradient(to top left, #d4000c, #0519e8)
}


// Images
.bj-first-row {
    @include flex_row;
    justify-content: space-between;
    position: relative;
    top: -60px;
}

.bj-img {
    width: 270px;
    background-size: contain;
    border-radius: $box_img_border_radius;
    transition: 1s;

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .bj-text {
        margin-top: 60%;
        padding: 20px;

        h3 {
            color: $titles_color;
        }

        h4 {
            color: $yellow_color;
        }

        .white-separator {
            display: block;
            margin: 10px 0;
        }
    }
}

// Crossfit workout IMG
.workout-img {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), transparent), url(../img/service6-2x.jpg);
}

// Gym Apparel IMG
.gym-apparel-img {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), transparent), url(../img/box1-2x.jpg);
}

// Team Training IMG
.team-training-img {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), transparent), url(../img/box3-2x.jpg);
}

// Brad Johnson Second Row
.bj-banner {
    text-align: center;
    padding: 20px 0;

    h2 {
        color: $titles_color;
        font-size: 35px;
        line-height: 50px;
    }

    .yellow-separator {
        display: block;
        margin: 20px 0;
    }
} 

// Brad Johnson Avatar
.bj-avatar {
    img {
        width: 40px;
        border-radius: 50%;
        vertical-align: middle;
    }

    .bj-name {
        color: $titles_color;
        margin: 0 10px;
    }

    .bj-lasvegas {
        color: $grey_txt_color;
    }
}

// YOUTUBE SECTION
.youtube-section {
    padding-bottom: 50px;
}

// YouTube First Row

// Big Image
.yt-first-row {
    @include flex_row;
    
    .yt-big-img {
        position: relative;
        top: -50px;
        border-radius: $box_img_border_radius;
        background-image: url(../img/service15-2x.jpg);
        background-size: cover;
        height: 600px;

        .play-circle {
            @include centered_item;
            width: auto;
        }
    }

    div {
        width: 50%;
    }
}

// Text Part
.yt-txt {
    padding: 80px 70px;

    a {
        text-decoration: none;
        color: #5673ff;
    }

    h2 {
        font-size: 40px;
        font-weight: 400;
        margin: 20px 0;
    }
}

.theme-fusion {
    img {
        width: 35px;
        vertical-align: middle;
    }
}

.theme-fusion-txt {
    display: inline-block;
    vertical-align: middle;

    p {
        font-size: 10px;
        color: $grey_txt_color;
    }

    .yt-btn {
        width: 76px;
        border: 1px solid lightgray;
        font-family: sans-serif;
        font-size: 8px;
        height: 15px;
        margin-top: 8px;
        cursor: pointer;
        
        .yt-name {
            background-color: #e61d13;
            height: 100%;
            display: inline-block;
            color: white;
            padding: 2px;

            i {
                margin: 0 3px;
            }
        }

        .yt-views {
            background-color: #fbfbfb;
            color: grey;
            vertical-align: middle;
        }
    }
}

.yt-paragraph {
    color: $grey_txt_color;
    margin: 40px 0;
    font-size: 15px;
    line-height: 20px;
}

// Red Button
.red-btn {
    padding: 10px 20px;
    background-color: #ff0000;
    border: none;
    border-radius: 999px;
    color: white;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background-color: $button_blue;
    }
}

// YouTube Second Row

// Playlist Title
.playlist-title {
    @include flex_row;
    justify-content: space-between;
    

    h5 {
        font-size: 18px;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        font-size: 16px;
        color: black;
    }
}

.yt-playlist {
    @include flex_row;
    justify-content: space-between;
    padding: 40px 0;

    .playlist-img {
        width: 270px;
        background-size: cover;
        border-radius: $box_img_border_radius;
        height: 180px;
        position: relative;

        .play-circle {
            @include centered_item;
            padding: 16px;
            font-size: 7px;
        }
    }
}

// Background images 
.thighs {
    background-image: url(../img/video2-2x.jpg);
}

.lift {
    background-image: url(../img/video7-2x.jpg);
}

.waist {
    background-image: url(../img/video9-2x.jpg);
}

// Videos title
.video-title {
    text-align: center;
    margin-top: 30px;

    h5 {
        font-size: 16px;
        font-weight: 400;
        margin: 10px 0;
    }

    a {
        text-decoration: none;
        font-size: 12px;
        color: #5673ff;
    }
}

// MAILING LIST SECTION

// Background IMG
.mailing-list-section {
    background-image: linear-gradient(to right, black, black, black, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), transparent), url(../img/banner1-2x.jpg);
    background-size: cover;
}

// Mailing List Content
.mailing-list-content {
    @include flex_row;
    padding: 80px 0;
}

.form {
    width: 60%;

    h4 {
        color: #f33a42;
    }

    h2 {
        font-size: 40px;
        font-weight: 400;
        margin: 20px 0;
        color: white;
    }

    p {
        color: $grey_txt_color;
    }

    .insert-email {
        margin: 40px 0;

        #email {
            width: 400px;
            padding: 10px 20px;
            border-radius: 999px;
            border: none;
        }

        button {
            @include blue_button;
            width: 150px;
            margin-left: 20px;
            cursor: pointer;
            transition: .2s;

            &:hover {
                background-color: $button_hover;
            }
        }
    }
}

// CARDS SECTION

// Background color
.cards {
    background-color: #060607;
    padding: 80px 0;
}

// Cards Row
.cards-row {
    @include flex_row;
    justify-content: space-between;
}

// Single Card
.single-card {
    width: 260px;
    text-align: center;
    border: 2px solid #3443ca;
    border-radius: 5px;
    padding: 60px 30px;
    transition: 1s;

    &:hover {
        transform: scale(1.1);
    }

    h4 {
        color: white;
    }

    h5 {
        color: $yellow_color;
        font-size: 15px;
    }

    p {
        color: #b7bcb7;
        font-size: 12px;
        margin: 20px 0;
        line-height: 20px;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 12px;

        i {
            font-size: 10px;
            margin-left: 5px;
        }
    }

    img {
        width: 60px;
        margin-bottom: 10px;
    }
}

// LATEST ARTICLES SECTION
.latest-articles {
    padding: 60px 0;
}

// Title
.articles-title {
    @include flex_row;
    justify-content: space-between;
    margin: 30px 0;

    h5 {
        font-size: 18px;
        font-weight: 400;
    }

    a {
        text-decoration: none;
        font-size: 16px;
        color: black;
        
        i {
            margin-left: 5px;
        }
    }
}

// Articles
.articles {
    @include flex_row;
    justify-content: space-between;

    .single-article {
        width: 270px;
        background-size: cover;
        height: 180px;
        cursor: pointer;
    }
}

// Background IMGs 
.shake {
    background-image: url(../img/blog4-2x.jpg);

    &:hover {
        background-image: linear-gradient(to top, rgba(122,124,221,255), rgba(122,124,221,0.1), transparent), url(../img/blog4-2x.jpg);
    }
}

.cardio {
    background-image: url(../img/blog1-2x.jpg);

    &:hover {
        background-image: linear-gradient(to top, rgba(122,124,221,255), rgba(122,124,221,0.1), transparent), url(../img/blog1-2x.jpg);
    }
}

.juices {
    background-image: url(../img/blog3-2x.jpg);

    &:hover {
        background-image: linear-gradient(to top, rgba(122,124,221,255), rgba(122,124,221,0.1), transparent), url(../img/blog3-2x.jpg);
    }
}

// Single Article Title
.single-art-title {
    padding: 20px 0 0 20px;

    h4 {
        font-weight: 400;
    }

    p {
        font-size: 12px;
        color: $grey_txt_color;
        margin-top: 5px;
    }
}

// ADVICE SECTION
.advice-section {
    padding: 110px 200px;
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), transparent), url(../img/banner2-2x.jpg);
    background-size: cover;
}

// Advice
.advice-txt {
    text-align: center;
    color: white;

    h2 {
        font-size: 40px;
    }

    .yellow-separator {
        display: inline-block;
        margin: 20px 0;
    }

    button {
        @include blue_button;
        font-size: 12px;
        cursor: pointer;
        margin-top: 20px;

        &:hover{
            background-color: $button_hover;
        }

        i {
            font-size: 8px;
        }
    }
}

// CLUBS SECTION
.clubs-section {
    padding: 90px 0;
}

.clubs-row {
    @include flex_row;
    justify-content: space-between;
}

.single-club {
    width: calc( 100% / 4 );
    text-align: center;

    img {
        width: 40%;
        display: block;
        margin: auto;
    }

    .blue-separator {
        display: block;
        font-size: 14px;
        margin: 20px 0;
    }

    p {
        font-size: 13px;
        color: $grey_txt_color;
        line-height: 20px;
        margin-bottom: 20px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 12px;

        i {
            font-size: 10px;
        }
    }
}

// WORKOUT SECTION

// Background Image
.workout-section {
    padding: 150px 0;
    filter: contrast(1.80);
    background-image: linear-gradient(to top left, rgba(119,39,76,0.7), rgba(36,46,151,0.7) 100%), url(../img/banner14-2x.jpg);
    background-size: cover;
}

// Content
.workout-content {
    text-align: center;

    .play-circle {
        padding: 20px;
        font-size: 8px;
    }

    h2 {
        color: white;
        font-size: 35px;
        margin: 10px 0;
    }

    h3 {
        color: $yellow_color;
        font-size: 25px;
        margin-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 14px;
    }
}






