// FOOTER
footer {
    background-color: black;

    a {
        text-decoration: none
    }
}

.footer-content {
    @include flex_row;
    justify-content: space-between;
    padding: 80px 0;

    .footer-box {
        text-align: center;
        width: calc( 100% / 3 );
    }

    li {
        list-style-type: none;
    }
};

// Footer Logo
.footer-logo {
    padding-top: 15px;

    img {
        width: 150px;
    }

    p {
        font-size: 13px;
        color: #bcbcbc;
        margin: 30px 0;
    }

    a {
        font-size: 12px;
        color: $icons_sienna;

        i {
            margin: 0 5px;
        }
    }
}

// Footer List Title
.footer-list-title {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

// Footer List Elements
.footer-box {
    ul {
        li {
            font-size: 14px;
            margin: 15px 0;
            color: white;

            a {
                color: white;

                i {
                    font-size: 10px;
                }
            }
        }
    }
}

.address {
    color: #bcbcbc !important;
}

// Footer Copyright
.footer-copyright {
    padding: 20px 0;
    border-top: 0.5px solid #78787a;
    color: $grey_txt_color;
    text-align: center;
    font-size: 12px;

    span {
        color: white;
    }
}

// FIXED BOXES
.fixed-boxes {
    display: inline-block;
    position: fixed;
    right: 2%;
    top: 15%;
}

.fx-box {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    i {
        font-size: 15px;
    }

    span {
        font-size: 15px;
        color: #6bc39e;
    }

    .dollar {
        font-size: 8px;
        vertical-align: top;
    }
}
