// HEADER

header {
    background-color: $header_primary_color;
}

// Header Content

.header-content {
    @include flex_row;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;

    img {
        width: 150px;
    }

    .header-menu {
        ul {
        font-size: $normal_text_size;
        @include flex_row;
        align-items: center;

            li {
                padding: 0 15px;
                list-style-type: none;

                a {
                    color: $grey_txt_color;
                    text-decoration: none;
                    font-size: $normal_text_size;

                    &:hover {
                        color: white;
                    }
                }

                button {
                    @include blue_button;
                    font-size: 10px;
                    transition: .2s;

                    &:hover {
                        cursor: pointer;
                        background-color: $button_hover;
                    }
                }
            }
        }
    }
}

// Small box in "Store"
.header-new {
    background-color: #fff941;
    padding: 4px;
    border-radius: 2px;
    font-size: 8px;
}
