// Flex-row Mixin

@mixin flex_row {
    display: flex;
    flex-direction: row;
}

// Flex-column Mixin

@mixin flex_col {
    display: flex;
    flex-direction: column;
}

// Common Blue Button

@mixin blue_button {
    padding: 10px 20px;
    background-color: $button_blue;
    border: none;
    border-radius: 999px;
    color: white;
    font-family: $regular_font;
}

// Centered Item 
@mixin centered_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}