// Header Primary color
$header_primary_color: #060607;

// Primary Blue Common Color
$button_blue: #4154ff;

// Button Hover color
$button_hover: #ff414b;

// Titles Text Color
$titles_color: white;

// Grey Paragraphs Color
$grey_txt_color: #676670;





// IMG Boxes Border Radius
$box_img_border_radius: 5px 5px 30px 5px;

// Normal Text size
$normal_text_size: 14px;

// Regular Font-family
$regular_font: "Barlow Semi Condensed";