// Header Primary color
$header_primary_color: #060607;

// Primary Blue Common Color
$button_blue: #4154ff;

// Button Hover color
$button_hover: #ff414b;






// Header Font size
$header_font_size: 14px;

// Regular Font-family
$regular_font: "Barlow Semi Condensed";